[2019-02-22 02:39] lablnet opened #131 "PHP friendlyTime method is not working in Production environment and localhost"
**Describe the bug**
when we get the time from database its treated as string so this line cause the problem
[code]
https://github.com/zestframework/Zest_Framework/blob/master/src/Common/Formats.php#L88

Same problem in localHost
**Requirements**
1. Framework version: 3.0.0-dev
2. PHP version: 7..3
4. Enviroment: Hostinger shared hosting + windows xampp localhost
5. Error-log: none

[2019-02-22 02:43] lablnet commented on #131
@Maikuolan  could you help to solve this issue?

[2019-02-22 06:19] Maikuolan commented on #131
If `$time` can be an integer or a string, the corresponding annotation `@param (int)` should probably be `@param (int|string)` too, because `@param (int)` implies that the method should only accept integers.

Do we need to check whether the input is a string or an integer? I.e., is it possible that this information, when retrieved from the database, could be an integer or a string (i.e., two diffe

[2019-02-22 07:13] lablnet commented on #131
@Maikuolan
**Do we need to check whether the input is a string or an integer?**
yes because there is two posiblity like int or string
**is it possible that this information, when retrieved from the database, could be an integer or a string (i.e., two different possibilities)?**
yes

It may be string in case if user/developer do like this
[code]
means to say English textual datetime.

But in case o

[2019-02-22 07:22] Maikuolan commented on #131
I have some ideas. I'll test these ideas, and then send a pull request shortly.

[2019-02-22 07:39] Maikuolan commented on #131
I've created a pull request just now (#132). What it does (as an alternative to `is_string`), is use `preg_match` to check whether any non-numeric characters exist in the variable. If non-numeric characters exist, it calls `strtotime` (i.e., it treats it as a string). If non-numeric characters don't exist, it calls nothing (i.e., it treats it as an integer). Seems to work for me during local testi

[2019-02-23 01:34] lablnet commented on #131
@Maikuolan  yes, its works for me too, also now we don't need to use explicit type casting

Thanks you so much.

[2019-02-23 01:34] #131 closed, assigned to Maikuolan, lablnet

[2019-02-25 06:25] lablnet opened #140 "CSRF Protection"
Need CSRF Protection

[2019-02-25 06:31] lablnet opened #142 "Need Improvement in Database management class"

[2019-02-27 02:54] peter279k opened #145 "Security features"
As title, the security components is important to this framework.

According to the OWASP, we need to consider the following security issues:

- [x] XSS.
- [ ] SQL injection.
- [ ] CSRF (it mentioned on issue #140).

[2019-02-27 02:56] lablnet commented on #145
About
* XSS
its already in input class you may see => https://github.com/zestframework/Zest_Framework/blob/master/src/Input/Input.php#L133

and CSRF and Sql injections need to implemented

[2019-02-27 02:58] peter279k opened #146 "Dockerize Zest_Framework"
As title, it's important to developers because they can use Docker to build the development environment easily.

Perhaps we can provide the `Dockerfile` to let developers build the Zest_Framework development environment easily.

[2019-02-27 03:18] peter279k commented on #145
@Lablnet, thank you for your reply.

After tracing the code, it seems that using the `htmlspecialchars` to prevent the XSS attack.

Do you consider the [htmlentities](http://php.net/manual/en/function.htmlentities.php) function?

Here is this function explanation:

The `htmlentities` is more powerful than `htmlspecialchars` because it can help us to specify the character encoding during entities c

[2019-02-27 03:32] peter279k commented on #145
Please look at this reference to know the OWASP Top 10 security issues.

https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf

[2019-02-27 06:09] lablnet commented on #145
@peter279k  thanks, yes you are right
https://github.com/zestframework/Zest_Framework/commit/5d6f25e13619fa6ff77effd5272c92e95f744ac7
fixed

[2019-02-27 06:09] lablnet commented on #145
yes sure i will take a look here thanks.

[2019-03-04 01:35] lablnet opened #153 "PHP Site class BaseUrl method putting trailing slash at end of url if Public is document Root"
https://github.com/zestframework/Zest_Framework/blob/master/src/Site/Site.php#L57

Live Demo (when Public is document root)
https://zestframework.xyz/index.php?zestinfo

If Public is not doc root then
![screenshot 94](https://user-images.githubusercontent.com/27757785/53705658-e3629680-3e47-11e9-9a1e-c6acdaec7eda.png)

[2019-03-05 05:02] lablnet opened #154 "Task Scheduler Like Cron job"
There should be package that allow to handle task scheduler / cron job cross platform

[2019-03-05 05:07] lablnet commented on #153
@peter279k  sorry, i delete your comment because you was misunderstand

The problem here with that if Public folder is not document root then this method ok but if public folder is document root it append extra slash at end of URL

[2019-03-05 06:02] peter279k opened #156 "Coding style check"
As title, I notice that the coding style is not united on this project.

We can find that they have the camel-case and underline-based variable declaration.

Do you consider the PSR-2 coding style?

[2019-03-05 06:12] lablnet commented on #156
The style being used something like

## Classes
Classes name first letter is uppercase
[code]
if class name has more then one word then
[code]
## Methods
Methods are camel case like
[code]
or
[code]

## functions
mostly functions name with underscore like
[code]

so i think those above follow psr-2 standard

about control structures and iteration thats also according to psr standard

yes you are r

[2019-03-05 06:18] peter279k commented on #156
How about the variable declaration on methods?

[2019-03-06 01:28] lablnet commented on #156
@peter279k  yes need to fix this in codes

[2019-03-06 02:11] lablnet opened #157 "No need to Component Controller Class"
No need of component controller class
the base/main controller class can be used in component perfectly

[2019-03-06 02:13] lablnet commented on #157
https://github.com/zestframework/Zest_Framework/commit/31729108b25fca9524c721a7e807d8b485a11dc6

[2019-03-06 02:13] #157 closed, assigned to lablnet

[2019-03-09 02:28] lablnet commented on #153
#163

[2019-03-09 02:30] lablnet commented on #153
@peter279k  Patch had applied to Zest framework website
this issue has been resolved
https://zestframework.xyz/zestinfo

[2019-03-09 02:30] #153 closed, assigned to peter279k

[2019-03-09 08:27] lablnet opened #164 "SystemMessage class error count(): Parameter must be an array or an object that implements Countable"
SystemMessage class error count(): Parameter must be an array or an object that implements Countable
![Screenshot_2](https://user-images.githubusercontent.com/27757785/54068491-0b4e6180-426f-11e9-89ae-bd445f8d3460.png)

[2019-03-09 12:48] #164 closed, assigned to nobody

[2019-03-09 14:10] lablnet opened #166 "if route not matched there is no expection"
example: https://zestframework.xyz/index.php?dad

[2019-03-09 14:34] peter279k commented on #166
If the route is not matched, it means that the request URL is not found.

I think it should send the response the 404 HTTP status code.

[2019-03-09 14:59] lablnet commented on #166
fixed patched applied => https://zestframework.xyz/index.php?dad

[2019-03-09 14:59] #166 closed, assigned to peter279k, lablnet

[2019-03-10 12:58] lablnet opened #168 "Response send method not working as it should be"
Everything working fine but the body is not print out

https://github.com/zestframework/Zest_Framework/blob/master/src/http/Headers.php#L194

that was the same problem with our [website](https://zestframework.xyz/)

So in this case the view not working

https://github.com/zestframework/Zest_Framework/blob/master/src/View/View.php#L119

i revert this view to this, then the web works fine you can se

[2019-03-10 13:00] lablnet commented on #168
@peter279k  or @Maikuolan  looking for your help

[2019-03-10 15:06] peter279k commented on #168
It seems that the `Response` class should be the problem.

Consider the following `Headers::send` method:

[code]

I think the `Content-Encoding` header check should be the issue and I think it can remove them and try this code again.

[2019-03-11 00:53] lablnet commented on #168
Yes, you were right

following patch applied to  http://beta.zestframework.xyz/

[code]

previous it was returning false
[code]
As i see the header `Content-Length` is required
Also there is no header exists ```Content-Encoding```
So we can encode, and decode body by ```accept-encoding``` header is this right approach?

[2019-03-11 02:58] peter279k commented on #168
The we browser uses the `Accept-Encoding` on request header to tell server it can aceept which content encoding approach.

[2019-03-11 03:01] peter279k commented on #168
The `Content-Type` and `Content-Length` are required on response header.

And the `Content-Encoding` is optional header.

I think using the following approach to achieve the `Content-Encoding` condition:

- Read the request header.
- If the `Accept-Encoding` is existed, find the accepted `encoding` appraoch on request header.
And set the current/correct `Content-Encoding` header on response header

[2019-03-11 03:06] lablnet commented on #168
Thanks

like here we are checking (point 1,2)
[code]
then we have to do like

[code]
also need to replace this

[code]
with just
[code]
Is that right what are are proposing?

[2019-03-11 03:10] lablnet commented on #168
I see to set
[code]
is not working at all

[2019-03-11 03:12] peter279k commented on #168
The `Accept-Encoding` will be single or multiple definition on request header.

And `Content-Encoding` on the response header is similar with `Accept-Encoding`.

Please look at the [Accept-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) and [Content-Encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding) to know more details.

[2019-03-11 03:16] peter279k commented on #168
The syntaxes are different. Please look at following blocks:

[code]

[code]

And you cannot assign the `Accept-Encoding` to `Content-Encoding` directly.

You should parse the header name and value firstly.

[2019-03-11 03:19] lablnet commented on #168
yes but in such case it also not work

[code]

so th parse header to extract this is useless

[2019-03-11 03:20] lablnet commented on #168
According to DOCS, accept encoding is request header, but wht in this case response header?

![Screenshot (134)](https://user-images.githubusercontent.com/27757785/54098450-7bc3c280-43d6-11e9-8b7d-363b93ead661.png)

[2019-03-11 03:26] peter279k commented on #168
If you want to use the `Content-Encoding`, you should notice these two points:

- The `Content-Encoding` module is defined/enabled on Apache config correctly.
- You use the PHP code (like `gzencode` function) when sending response contents on specific encoded header.

Here are the useful links:

- https://www.garron.me/en/linux/enable-gzip-mod_deflate-compression-apache.html
- https://gist.github.

[2019-03-11 12:49] lablnet commented on #168
@peter279k  Thanks for your reply

You're right

But still have one problem when we use view within view like
**Home Controller**
[code]
**Home view**
[code]
In view you may see ```<?=view('Home/nav')?>``` we are including another view so in this case the output is stranger
see here http://beta.zestframework.xyz/
the header and footer part is stranger because used within view
but this part work fi

[2019-03-11 13:29] Maikuolan commented on #168
When looking at the above link, I spotted a typo (the typo is not related to this issue). PR sent.

[2019-03-11 16:49] peter279k commented on #168
The problem is about the `View::view` method.

I think you should use [gzdecode ](http://php.net/manual/en/function.gzdecode.php)to decode the compressed content before rendering the view template.

[2019-03-11 16:53] peter279k commented on #168
I use the `cURL` command to request get the following response header:

![image](https://user-images.githubusercontent.com/9021747/54141714-28e31d00-4461-11e9-9c87-623aa00f35f9.png)

The `Vary: Accept-Encoding` is existed and it means that this response content is compressed.

[2019-03-11 17:04] peter279k commented on #168
And you should know about the HTTP request/response.

* Web browser send request header.
* Zest framework parses request header.
* Zest framework render the compressed content with `View::view` method.
* Zest framework collect and send response headers.

[2019-03-12 00:56] lablnet commented on #168
Yes thanks,

working proposal
[code]

But this line
``` //(!empty($encoding)) ? $this->headers['Content-Encoding']  = $encoding : null;```
still make the problem

[2019-03-12 06:18] #168 closed, assigned to peter279k, Maikuolan, lablnet

[2019-03-23 13:17] peter279k commented on #154
The Cron job has the two key components.

- Cron expression parser.
It includes specific time.
- Cron job task manager/scheduler.

Should we implement these all components?

[2019-03-23 13:19] peter279k commented on #154
You also mention about the cross platform.

I am not familiar with the cron job task on Windows.

I also am familiar with cron job on Linux.

[2019-03-23 13:29] lablnet commented on #154
Yes should implemented all components.

in windows there is Task Scheduler

when you send your proposal as a pull request i will add Win task scheduler support

write in such a way it has option to add support for windows

[2019-03-24 06:27] lablnet opened #181 "Localization in Formats class"

[2019-03-24 06:40] peter279k commented on #181
What's the description about this issue?

[2019-03-24 06:49] lablnet commented on #181
Yeh sorry

Consider this method
https://github.com/zestframework/Zest_Framework/blob/master/src/Common/Formats.php#L49

It return value with string, (english)
so it should get the values from the language file
so if the language changes , the values also changes, if presented in other language

[2019-03-24 09:25] peter279k commented on #154
@lablnet, when I think this deeply,  I found the following way to do Cron job package to support cross platform.

- Using the scheduler.php to let this program run on every minute.
- On every minute, we check the specific job should be executed.
- We can use the log file or DB to store every task current execution time.

[2019-03-24 09:43] lablnet commented on #154
@peter279k  Yes but this approach has few drawbacks

**Using the scheduler.php to let this program run on every minute**

First if any developer want to set schedule to set for 30 seconds then what result expected?

Also i think this make framework slightly slower

How can we execute `scheduler.php` on every mints, without task scheduler or cron?

The approach i think
there should be four files
-

[2019-03-24 09:47] peter279k commented on #154
It looks good, but we don't want to let developer set less than one minute
on cron job.

I think it is fine to use the following code you mention.

Muhammad Umer Farooq <notifications@github.com> 於 2019年3月24日 週日 下午5:43 寫道：

[2019-03-24 09:51] lablnet commented on #154
Sure, so we can start before started actual development it good to write `Contracts` First
it let me to starts write `schedule.php` part
so you can write `Contracts/Interfaces` and pull here => https://github.com/zestframework/Zest_Framework/tree/master/src/Contracts
with sub folder

the interface name should same as class
we can use somthing like
`use \Zest\Contracts\Sitemap\SItemapIndex as Sitem

[2019-03-24 12:48] peter279k commented on #154
@Lablnet, consider following code:

[code]
And let the `task` be interface so that we can let developers follow `Task` interface to customize the `Task` class.

What do you think about that?

[2019-03-24 13:33] lablnet commented on #154
Yes you are right

but instead of saying `CronExpression` it better say `TaskExpression` or `SchedulerExpression`

[2019-03-25 01:12] #181 closed, assigned to lablnet

[2019-03-25 01:21] lablnet opened #185 "Need improvement in Configuration class and function"
I think we need to improve the configuration class and their respective functions

like now in Zest it something following

[code]
This is looking odd it should be something like
[code]

And the function prototype something like this
[code]

SO we can provide default value to avoid requiring Zest for tests as well

What do you think @peter279k @Maikuolan

[2019-03-25 15:45] peter279k commented on #185
It seems that you want to create a dot array style for the configuration array.

It's very similar with the config on Laravel framework.

I think it's fine to scratch their approaches to implement our own config `dot` array style.

[2019-03-25 15:54] Maikuolan commented on #185
Sorry for not replying earlier. Caught up with other things a little the past few days.

For better understanding: Is this just a question about code style and aesthetics, or about a specific problem (e.g., something not working properly, possible performance improvements, etc)?

[2019-03-25 16:00] peter279k commented on #185
@Maikuolan, thank you for your concern, this is about improving configuration array manipulation.

The issue author, @Lablnet wants to replace the object style with the `dot` array style.

Do you have any idea/suggestion on that?

[2019-03-25 17:02] Maikuolan commented on #185
Could consider implementing [adbario/php-dot-notation](https://github.com/adbario/php-dot-notation), maybe. I haven't used the library before, but it seems to be able to achieve the desired effect.

[2019-03-25 17:43] peter279k commented on #185
I think it can also consider following code about setting config value with dot array style.

[code]

Here is the sample code:

[code]

It will output:
[code]

I consider the `Arr` class on `illuminate/support` package, and I hope this will be hopeful for improving the config array manipulation with dot array approach :).

[2019-03-26 00:12] lablnet commented on #185
@Maikuolan  Our problem is to reinvent the wheel, that the goal of `Zest` without external dependencies expect core, autoloader and unit testing to make the framework lightweight like `codeigniter`

[2019-03-26 01:08] lablnet commented on #185
Let consider this code

After some strug;e i able to invent wheel

[code]
Usage
[code]

result prefect as expected

[code]

[2019-03-26 11:43] peter279k opened #191 "Fix Travis CI build"
As title, the Travis CI build is failed due to the configuration file path.

Here is the [Travis CI build log](https://travis-ci.org/zestframework/Zest_Framework).

It's also related issue #185 and I think we can consider following approach to solve this:

- Create the `mock_config.php` file for do unit test in Travis CI build.

I think we can download the `config` file to the specify file path vi

[2019-03-26 11:55] lablnet commented on #191
Yes this work for know
But i am thinking about something like describe in https://github.com/zestframework/Zest_Framework/issues/185

So we can load configs file if exists and in our get `method` there will be option default value
so at core level we can pass default value, is this good approach what do you think?

i am curious How laravel manage their config and passsed tests?

[2019-03-26 12:04] peter279k commented on #191
In Laravel framework, it defines/initialize config in tests to do unit test for `Config` class.

You can consider the following code snippet in link:

[Config test](https://github.com/laravel/framework/blob/5.8/tests/Config/RepositoryTest.php)

[2019-03-26 12:18] lablnet commented on #191
I see, you're right

the approach `Mock config` is right here

and you can do this by Sending `PR`

i am not sure but i think we can determine is code running from php unit testing
in `Config` class you can specify that condition to load config from mock file

[2019-03-26 13:51] peter279k commented on #191
@Lablnet. After tracing Laravel framework deeply, the `Hashing` work in `laravel/framework` doesn't load any config array.

I think you should separate the ArgonHasher to different the Hashers with different Argon2 algorithm.

You should look at the hashing implementation in [Laravel framework](https://github.com/laravel/framework/tree/5.8/src/Illuminate/Hashing).

We should avoid loading the conf

[2019-03-26 14:13] lablnet commented on #191
Yes you are absolutely right could you create a PR?

[2019-03-27 03:07] lablnet opened #194 "Improvement in Container Class"
Need improvement in Container class the current container class is damn

[2019-03-27 06:44] #191 closed, assigned to peter279k

[2019-03-31 03:01] Maikuolan opened #209 "Scrutinizer error"
Currently seeing this message from scrutinizer:

![composer](https://user-images.githubusercontent.com/12571108/55284191-214dce80-53a4-11e9-8f3f-8668be8444cd.png)

Not my area of expertise, so not something I could fix so easily, I think. Probably need to look more closely either at Composer package settings or at the unit tests, I think.

[2019-03-31 07:01] peter279k commented on #209
@Maikuolan, thank you for your reply.

The Scrutinizer CI error due to the PHPUnit dependencies issue.

And I think we have the following suggestion to solve this:

- Let this package be `php:7.1` at least and define this about the `require` block in `composer.json`.
- Define the PHPUnit version to be `phpunit: "^7.0 || ^8.0"` about `require-dev` block so that this dependencies issue will be solve

[2019-03-31 07:12] lablnet commented on #209
@Maikuolan  thanks you so much for reporting the issue & @peter279k  thanks you for resolving..

[2019-03-31 07:12] #209 closed, assigned to nobody

[2019-03-31 07:12] peter279k commented on #209
@Lablnet, do we need to support the `php-7.1` version?

Or require `php-7.2` version at least?

[2019-03-31 07:12] lablnet commented on #209
`7.2`

[2019-03-31 07:13] lablnet commented on #209
Because we use phpUnit version 8

[2019-03-31 12:59] Maikuolan commented on #209
Sounds good. :-)

[2019-04-30 03:56] peter279k opened #217 "Fix typo: Zest_Framework/Tests/Encrption/"
**Describe the bug**

As title, the directory name should change into `Zest_Framework/Tests/Encryption/`.

[2019-04-30 05:06] peter279k opened #218 "Enhance hashing alogorithm supports"
**Is your feature request related to a problem? Please describe.**

Firstly, we look at the `Hashing` algorithm supports in `Zest_Framework/src/Hashing/
` folder, it only supports the `Bcrypt`, `Argon2` and `Argon2ID`.

**Describe the solution you'd like**

It misses some hashing algorithms on this project and I think we can implement other hashing algorithms.

Consider following algorithms:

- `M

[2019-04-30 05:09] peter279k opened #219 "Add UUID component"
**Is your feature request related to a problem? Please describe.**

I'm not sure we have to provide this component by dafault on our Zest framework.

**Describe the solution you'd like**

We can look at the [ramsey/uuid](https://github.com/ramsey/uuid) to know more details about `UUID`.

And this official [uniqid function reference](https://www.php.net/manual/en/function.uniqid.php) can also let u

[2019-04-30 09:00] #217 closed, assigned to nobody

[2019-04-30 09:04] lablnet commented on #219
Yes i was thinking before, its should be part of Zest Framework, its good if you could send `PR`
what do you think @peter279k

[2019-04-30 09:09] peter279k commented on #219
Thanks @Lablnet, and I also have the similar issue on [this](https://github.com/selective-php/util/issues/3) :).

[2019-04-30 09:39] peter279k opened #220 "Archive component"
**Is your feature request related to a problem? Please describe.**

According to the `Zest_Framework/src/Zip/`, it looks like the Archive only supports the `Zip`.

But it has other archive approaches. For example, the `bzip`, `gzip` and so on.

**Describe the solution you'd like**

Consider creating missed archive components.

Or try considering creating a `Archive` component to support all availa

[2019-04-30 09:41] lablnet commented on #220
Yeah that's awesome thanks for grate idea, i haven't think before.
Here is i think approach
the main `Archive` class
and adapters like 'zip', bzip', 'gzip' and others etc
what do you think?

[2019-04-30 10:50] peter279k commented on #220
Hi @Lablnet, I can agree that.

[2019-05-01 12:36] lablnet commented on #218
@peter279k  Could you elaborate more please? with an example how it would be useful even php provide natively those mentioned functions.

[2019-05-02 06:22] lablnet opened #222 "enhancing the Time class unit tests"
As title, we should implement unit tests for `Time` Class

[2019-05-02 12:08] lablnet opened #223 "Enhancement of Arrays class"
I think we should implement four more methods in our `Arrays` class
### 1. Remove duplicate
there should be method namely `removeDuplicates()` which remove duplicate records in array consider following data set
[code]
Look at above problem set and see the username become duplicate, we don't think how it happen, but there should be way/method which remove duplicate by specific key pair.

### 2. Plu

[2019-05-13 09:12] lablnet commented on #223
Now last `method` is left still

### 2. Pluck
To retrieves all of the values for a given key from an array
Consider following dataset

[code]
if we do something following ``` Arr:ays:pluck($array, 'developer.name');``` it should return both name.

[2019-05-13 12:04] peter279k commented on #223
Please consider about the array_column function.

https://www.php.net/manual/en/function.array-column.php

Muhammad Umer Farooq <notifications@github.com> 於 2019年5月13日 週一 下午5:12 寫道：

[2019-05-15 16:15] lablnet commented on #223
@peter279k  i tried following code
[code]

Usage
[code]
Output
![Screenshot_3](https://user-images.githubusercontent.com/27757785/57791594-f1f3e680-76f1-11e9-827c-0e811c943b57.png)

Expexted output you already knows that discussed aboved
help to resolve this case.

[2019-05-17 04:20] peter279k commented on #223
The `array_column` is only worked on the following array:

[code]

If we want to accept the array you specify, It's not good enough to use `array_column`.

My approach is as follows:

* Firstly, check the specific key is mapped to the value array.
* Second, if it's array, the next specific key is in the array column, collect it.

If we want to use `array_column`, we have to try generating the colu

[2019-05-17 08:39] lablnet commented on #223
@peter279k  Thanks for your reply, i have found another good solution, this is required only last key which we want to search here in above case is `id` or `name` let me add that code in PR

[2019-05-21 15:43] #223 closed, assigned to peter279k, Maikuolan, lablnet

[2019-05-22 16:02] peter279k opened #234 "Be flexible for the format inside Time class"
**Is your feature request related to a problem? Please describe.**
I get started to think about the date format inside `Time` class.

It looks like the date format has the fixed format and developer doesn't have any option to make the date be formatted.

Such as `Time::timestampToGmt` result will be the `d/m/Y H:i:s` format.

**Describe the solution you'd like**
Perhaps we consider have the option

[2019-05-22 16:04] #222 closed, assigned to peter279k

[2019-07-28 04:39] lablnet opened #236 "Permission denied after installing Zest framework"
Premission dined because whenever user first run zest framework it created default directories

**here is order**

[code]

_In the file_

**Consider the following method/function:**
[code]

**I change it to following:**
[code]

But its not working at all

_**### This issue only occurs when we use Linux based operating system or Macintosh**_

**_Here is snapshort_**

![Screenshot from 2019-07-28 00

[2019-07-29 10:49] peter279k commented on #236
The `permission denied` message is presented when using the `mkdir` function.

That's current reason is about the user permission on Unix-like operating system.

It seems that the `www-data` user cannot access `root` privilege user directory.

To solve this problem, I think we have to consider this approach.

The steps are as follows:

- Catch the exception if the `mkdir` function is triggered.
-

[2019-07-30 04:49] lablnet commented on #236
oh so it mean it can not be solved by php directly right?

Am not familar with unix like system remission problem

[2019-07-30 05:16] peter279k commented on #236
Hi @Lablnet, thanks for your reply.

It's possible to solve this problem, but it cannot solve this issue with PHP directly.

My suggestion that is mentioned on my previous comment thread and we can consider providing the `Docker` container to build the framework environment.

And it's easy for developers to build their own Zest framework via Docker container.

[2019-07-30 05:43] lablnet commented on #236
Yeah

https://github.com/zestframework/Zest_Framework/issues/146

[2019-07-30 08:44] peter279k commented on #146
@Lablnet, I've two approaches about completing this issue.

- Adding the `Dockerfile` or `docker-compose.yml` file in this Zest_Framework repository.
- Create the new repository named `Docker_Zest_Framework` (or other names) and it only has the `Dockerfile` and `docker-compose.yml` inside this new repository,

What's different thing from these two approaches?

- The first approach is to integrate

[2019-07-31 17:26] peter279k commented on #146
I just transfer this issue to be the standalone repository called [zest-docker](https://github.com/zestframework/zest-docker).

Other enhancement works and features will be updated in this `zest-docker` repository.

@Lablnet . This issue seems to be closed because it's going to be done.

[2019-07-31 17:26] #146 closed, assigned to peter279k

[2019-08-01 01:07] lablnet commented on #236
So i think this issue should be close right?

[2019-08-01 01:13] peter279k commented on #236
That's right :).

[2019-08-01 01:32] #236 closed, assigned to peter279k, lablnet

[2019-08-01 01:58] lablnet commented on #219
I have following approach in my mind

1. Generate random characters 10 or 15 by using `salts` method from `Site` class.
2.  Generating random number from `100000` to `1000000` and then multiply by it `time()`.
3. Then concatenate those and shuffle it.
4. For providing additional sticky rule we can make optional feature allow user to validate it, like when ever it generate UUID we can append it to

[2019-08-01 02:23] peter279k commented on #219
@Lablnet, thanks for your reply.

The UUID means the unique ID value.

It's also a random value, this generation has the standard defined by [RFC-4122](https://tools.ietf.org/html/rfc4122).

It's also have the implementation [here](https://packagist.org/packages/ramsey/uuid).

[2019-09-20 10:26] #185 closed, assigned to peter279k, Maikuolan, lablnet

[2019-09-20 10:31] peter279k commented on #185
Does this issue accomplish?

[2019-09-20 10:35] lablnet commented on #185
Yes it completed, as the Config class completed just waiting of container class then i will merge that PR

[2019-09-22 16:03] lablnet commented on #218
@peter279k  Looking forward to your reply

or should i close this issue?

[2019-09-22 16:04] lablnet commented on #156
As we followed the PSR-2 Standard so this issue is closing now...

[2019-09-22 16:04] #156 closed, assigned to nobody

[2019-09-22 16:05] #194 closed, assigned to nobody

[2019-09-22 16:39] peter279k commented on #218
Hi @Lablnet, thanks for your reply.

I still track on this issue and I will try accomplishing this issue at my available time.

If possible, you can assign me to work on this issue.

Thanks :).

[2019-09-22 16:41] peter279k commented on #194
@Lablnet. Is this issue accomplished/resolved?

[2019-09-22 16:50] lablnet commented on #194
Yes i will open new issue regarding this

[2019-09-27 16:09] #234 closed, assigned to nobody

[2019-09-27 16:10] #142 closed, assigned to lablnet

[2019-09-27 16:11] lablnet opened #241 "Database Package"
Need following features

1. Query Builder
2. Support for more adaptors

[2019-09-28 04:42] lablnet opened #243 "Test's for container class"
As title, need test's for container class

[2019-09-28 10:30] lablnet opened #247 "Enchantment of str class"
As title, enchantment of str Class

Need encoding support.

May need more methods like
1. hasUpperCase
2. hasLowerCase
3. ConvertCase
4. etc...

[2019-09-29 14:57] lablnet opened #250 "Error Expection class not found in Redirect.php"
![image](https://user-images.githubusercontent.com/27757785/65834341-63c07b80-e2f3-11e9-9509-21ca9608ad91.png)

[2019-09-29 14:58] #250 closed, assigned to nobody

[2019-09-30 19:57] ghost commented on #247
hey,
do you have any coding guidelines?
And do you have any other special wishes what kind of methods you need or should I just add everything that comes into my mind?

[2019-10-01 02:24] lablnet commented on #247
Yes have coding guide
1.You never allow add third-party Composer dependencies or classes
2.You allow to improve existing features or add new features
3. You allow update Zest framework code or core code
4. When you want send pull request. You have provide brief description about code either you update exsting code or adding new feature.
In short every change you made should be standalone.

You may

[2019-10-01 03:07] peter279k commented on #247
@Lablnet, we also consider adding the unit tests for `Str` class.

And it can be reliable for `Str` class method behaviors.

[2019-10-01 03:08] lablnet commented on #247
Yeah, it already been their

look

https://github.com/zestframework/Zest_Framework/blob/master/Tests/Data/StrTest.php

[2019-10-01 13:26] lablnet opened #261 "Bug in \Arrays class"
Let consider the following `DataSet`

[code]

then consider following statement

[code]

It produce something like that result
![image](https://user-images.githubusercontent.com/27757785/65965885-c68f4f80-e478-11e9-8a0d-120969a82e03.png)

Which is wrong, it should produce something like that

'files.mine.type. => array.'

There should be flag if we want to return array from specific key.

@peter27

[2019-10-02 02:36] #247 closed, assigned to peter279k

[2019-10-02 02:42] lablnet opened #271 "Enchantment of \Str class"
As title need more method to make class more amazing.

We may consider something following methods

- `isBase64`
- `substring`
- `stripWhitespace`
- `repeat`
- `slice`
- `shuffel`

[2019-10-02 04:02] peter279k opened #273 "SodiumException: key size should be SODIUM_CRYPTO_SECRETBOX_KEYBYTES bytes"
**Describe the bug**
As title.

**Requirements**
1. Zest Framework Version: `3.0`.
2. PHP Version: `7.3.9`.
3. Apache version: `N/A`.
4. PlatForm version and name: `Travis CI build environment`.
5. ErrorLog. The failed Travis CI build log is available [here](https://travis-ci.org/zestframework/Zest_Framework/jobs/592367083).

**Additional context**
The failed error message is as follows during Tra

[2019-10-02 05:57] lablnet opened #274 "Wrong Behaviours of Str \hasUpperCase and \hasLowerCase"
Consider the following string

`#-<ae|9_+0a*a!Q?@(z,3R>.BAb)^%R&*+~RG:$`

### Upper Case `Regx`

![image](https://user-images.githubusercontent.com/27757785/66021094-df444780-e502-11e9-9066-30f88837fc8e.png)

same regx use in LowerCase

[2019-10-02 06:41] peter279k commented on #274
I'm curious about the `hasLowercase` and `hashUppercase` method implementations.

Should we consider only about the English string lowercase/uppercase conversion?

If possible, we can change into following regular expression:

`hasUppercase`:

[code]

`hasLowercase`:

[code]

![image](https://user-images.githubusercontent.com/9021747/66023105-baf86300-e522-11e9-976e-f390cc2f667a.png)

[2019-10-02 06:43] lablnet commented on #274
We need to keep in mind encoding as well, in that case UniCode

[2019-10-02 09:42] #271 closed, assigned to nobody

[2019-10-02 14:05] ReeceM commented on #261
Hi, is this open for anyone to help sort? I would like to try and get it to render nicely.

If so, would it be possible to have some more info on how you would like it to result?

[2019-10-02 14:52] lablnet commented on #261
Yes it is for everyone

Basically the `dot` method convert arrays with dot notations like

here is dataset
[code]

What is that am looking so far there should be `flag` parameter which allow us to stop that conversion with specific key, consider above  issue dataSet, i can provide key, types, or type, so it should return arrays, and stop converting...

[2019-10-02 15:05] ReeceM commented on #261
Alright, thank you.

So for example, you example `$dataSets` above, you would want an output of e.g.:
[code]

Is that correct in the way of the output? ^^^^ That is the output of the modified code already at the moment.

Or when you say a that it should stop converting arrays, is that to stop when the conversion hits an associative array structure?

[2019-10-02 15:09] ReeceM commented on #261
Actually, I think I just clicked as to what you saying having a look at the example data again.

So the conversion can happen with all the assoc. keys until the last thing it hits is not an array and then just stores the array as a complete element without the index number?

[2019-10-02 15:16] lablnet commented on #261
The out put should be
```files.mine.type``` after that there should be assos array

yes it should stop, but when `$fllag` key argument

its look slightly complicated to me

[2019-10-02 15:17] lablnet commented on #261
Yes it happed with all keys, but there should be way as i describe above

[2019-10-02 15:43] ReeceM commented on #261
@Lablnet, awesome thank you

[2019-10-02 16:02] ReeceM commented on #261
@Lablnet, I have the code outputting the following when a flag is set:

[code]

Is that end result okay?

The syntax to access that would be:
[code]

If not set it will default to the old method.

[2019-10-02 16:37] #274 closed, assigned to lablnet

[2019-10-02 16:41] lablnet commented on #261
Yeah that's exactly what I want

You're welcome to open PR

But you should consider the base method to implement this because you already seen the dot isn't base method right it just call another method

Thanks you so much for your time.

Looking forward to your PR.

[2019-10-02 16:51] ReeceM commented on #261
Awesome, I did see that the `dot()` method is just a wrapper 👍 .

I will finish it up and make a PR.

[2019-10-02 17:50] ReeceM opened #282 "Cloudcov key is in the travis config"
**Describe the bug**
The Travis CI config file contains the `CODECOV_TOKEN`, this goes against standards to keep tokens in the runtime config of the service dashboard and not commit this data to git or revision control.

The way to fix this is to remove the config details and add it as an environment variable under Travis Ci:

Projects > Zest Framework Repo >  Settings > Environment Variables.

Ad

[2019-10-03 01:49] lablnet commented on #282
![image](https://user-images.githubusercontent.com/27757785/66093518-f5591300-e5a9-11e9-899d-961aa94d5ef6.png)

There is no such option

[2019-10-03 01:50] #261 closed, assigned to peter279k, lablnet

[2019-10-03 05:13] ReeceM commented on #282
Hi @Lablnet, that setting is meant to be set in from the travis-ci section.

If you follow the following link https://travis-ci.org/zestframework/Zest_Framework/settings

You should be logged in and also be able to see the settings tab selected. That should be where you are able to change that.

The below is a screenshot of one of my repos, you should see the similar page:

<img width="949" alt="S

[2019-10-03 05:44] peter279k commented on #282
That's right. Token should not be exposed on `Travis` setting.

It should be a encrypted environment variables.

[2019-10-03 07:16] 2mt-heuser commented on #273
Is this still an issue? I can't seem to reproduce it locally with php7.3.9 + sodium 2.0.22.
All tests work.

[2019-10-03 08:03] peter279k commented on #273
I'm not sure that the test is failed during Travis CI build.

Maybe I will try reproducing issue and create related PR on that.

[2019-10-03 10:29] lablnet commented on #282
@ReeceM  Thanks you so much for your time

[2019-10-03 10:29] #282 closed, assigned to nobody

[2019-10-04 09:55] lablnet opened #293 "After adding \Site\Key classs tests failing"
The error log say that `Zest\Contracts\Site\Key` is not found

but this file in place and valid.

Also there is no such error in my `local`

Any idea why this happening?

[2019-10-04 10:43] hasukmistry commented on #293
Hi @Lablnet can you try using \ in front of it.  for example `use \Zest\Contracts\Site\Key` and also you have defined an interface with Key not key.

![Screenshot 2019-10-04 at 12 47 53 PM](https://user-images.githubusercontent.com/10345184/66202172-5580af80-e6a5-11e9-9a56-049bef4a2da3.png)

[2019-10-04 10:57] lablnet commented on #293
Am wondering why to put `\` because you may see other classes, there is no such issue with them, in case you may consider `Str`, `Arrays` etc...

Let's wait reply from @peter279k

[2019-10-04 11:24] lablnet commented on #293
This is still failing but in my local Unit Testing its passed

![image](https://user-images.githubusercontent.com/27757785/66204086-76f09400-e6c3-11e9-843e-8c27199ac6f6.png)

I do not know what to do!!!!!!!!!!!!!

[2019-10-04 12:26] hasukmistry commented on #293
@Lablnet Did you try to change `use Zest\Contracts\Site\key as KeyContract;` to `use Zest\Contracts\Site\Key as KeyContract;` in src\Site\Key.php

[2019-10-04 12:28] hasukmistry commented on #293
In your unit test, there is a correct import for `Key`

[2019-10-04 13:08] lablnet commented on #293
@

Localhost is loosely environment

[2019-10-04 13:09] #293 closed, assigned to peter279k, lablnet

[2019-10-06 07:03] peter279k commented on #273
After looking at these codes, this issue has been resolved on latest commit.

Closed.

[2019-10-06 07:03] #273 closed, assigned to peter279k

[2019-10-11 03:15] lablnet opened #301 "Enhancement of Whoops Package"
It should return error msg with more details like

- Environment Detail
- Requests
- App
- User Data
- Framework info
- Debug
- Suggestion..

[2019-10-17 03:40] #301 closed, assigned to lablnet

[2020-08-25 10:28] lablnet commented on #218
looking for progress if you interest in this?

[2020-11-10 19:18] peter279k opened #317 "Fix deprecated PSR-4 autoloading"
[code]

These above reasons are about namespace is not correct to be compatible with `PSR-4` autoloading.

To fix above deprecated message, it should fix the namespaces.

[2020-11-25 09:26] #243 closed, assigned to nobody

[2020-11-26 08:24] #220 closed, assigned to nobody

[2020-11-30 12:53] lablnet opened #335 "Tests are failing on Scrutinizer"
As title, tests are failing in `Scrutinizer` to be honest i do not know because tests are passing in my local and in github actions, may be the `php` `zip` extension is not installed but there is no such option in `Scrutinizer`

@peter279k  do you have any idea?

[2020-11-30 13:44] peter279k commented on #335
Since GitHub Action has been enabled on this repository, I think it's not very necessary to enable the Scrutinizer and run its CI building work.

[2020-11-30 14:25] lablnet commented on #335
Agreed, I've disabled the unit tests on Scrutinizer.
This issue is resolved.

[2020-11-30 14:25] #335 closed, assigned to nobody

[2020-11-30 15:26] #317 closed, assigned to peter279k

[2020-12-01 04:53] lablnet opened #339 "Package management extends of container"
As title, we need to implement package management so thereby we can able to offered many official packages for the things that are most common in php development just for instance `Doctrine` etc.

But this has to be done after console component (#325), coz after that we can able to offered to registered command for packages .

[2021-03-18 17:05] peter279k opened #346 "Adding static code analysis tool support"
**Is your feature request related to a problem? Please describe.**

- Since [PHPStan](https://github.com/phpstan/phpstan), [Psalm](https://github.com/vimeo/psalm) or [Phan](https://github.com/phan/phan) is enabled by some PHP projects to do static code analysis.
- The static code analysis tool can check some issues on PHP codes without writing tests.

**Describe the solution you'd like**

- Choosi

[2022-07-15 02:49] Maikuolan opened #352 "2.0.3 -> 2.0.4 ?"
v2.0.3 was [released 26th August 2018](https://github.com/zestframework/Zest_Framework/releases/tag/2.0.3), and there's been numerous [changes to the codebase since that time](https://github.com/zestframework/Zest_Framework/compare/2.0.3..main).

Given there was some new changes as recently as last week (renaming the default branch from `master` to `main`), maybe it would be worthwhile to create a

[2022-07-15 15:31] lablnet commented on #352
Thanks for your concern, Let me tell you what I was thinking, your feedback will matter for me OfCouse.
I was thinking to re-release Zest Framework from initial version 1.0.0, because in Past the framework was not stable at all, I have few things in my mind after which I will consider the framework stable, these things are as follow:
1. Security features (CSRF, XSS).
2. Package system (So, we can

[2022-07-15 16:50] Maikuolan commented on #352
IMHO, there's nothing wrong with starting again. We learn from our work, discover things that work well, discover things that don't work well, and sometimes want to take a difference approach to our projects in the future. But, if starting again, I would recommend one of two options: Either (1) all tags/releases which already exist to continue to exist, and increment the major version for the rest

[2022-07-19 14:44] lablnet commented on #352
@Maikuolan Thanks for great explainations and response.
Yes we should stick with the version, so instead of v2.0.4, I think the point I mentioned after completing those we can launch v3.0.0 version.

[2022-07-19 15:10] Maikuolan commented on #352
Sounds like a good plan. :+1:

[2022-09-25 10:40] lablnet commented on #352
I just changed the name from `Zest` to `AlphaZ`
Coz Zest framework is dead! should we consider it as successor of so called `Zest` and continue release cycles or from start.

What do you think
@Maikuolan
@peter279k

[2022-10-23 10:41] #352 closed, assigned to nobody

[2022-10-24 02:06] peter279k commented on #352
Is the Zest be compatible with AlphaZ? I think it's okay to change name and keep Zest framework features.

[2022-10-24 04:02] lablnet commented on #352
Yes OfCouse, the actual motive is that as this framework is not `stable` so it's useless to release 3.0.0 so I changed the name and we starts with `1.0.0`

[2022-10-24 04:10] peter279k commented on #352
Do you mark [this](https://packagist.org/packages/zest/zest) abandoned? Please refer the [documentation](https://getcomposer.org/doc/04-schema.md#abandoned).

[2022-10-24 04:14] lablnet commented on #352
Not yet, because I lose my Google Authentactor data so I am unable to login to packageist there is no way to reset that! I've contact them Let's see when they reply me.